You can reset your password on
<%%= edit_password_url(@user.reset_password_token) %>

This link will expire in <%%= distance_of_time_in_words(0, RecoverableConcern::RESET_PASSWORD_TOKEN_EXPIRES_IN) %>.
