Your account has been locked due to too many failed sign-in attempts.

You can unlock it now on
<%%= unlock_url(@user.unlock_token) %>

or wait <%%= distance_of_time_in_words(0, LockableConcern::UNLOCK_IN) %> for the lock to expire on its own.
